@forward 'reset';
@forward 'variables/global';
@forward 'themes/light';
@forward 'themes/dark';

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 2rem;
}