:root {
  //FONTS
  --font-family-main: 'Consolas', 'Times New Roman', Serif;

  --font-size-m: 1.6rem;
  --font-line-m: 2.4rem;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 2.4rem;
  --font-line-l: 3.2rem;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  //SIZES
  --navbar-height: 5rem;

  --sidebar-width: 30rem;
  --sidebar-width-collapsed: 8rem;
}