.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: {
    property: width;
    duration: 0.3s;
  };

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }

  .switchers {
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .LangSwitcher {
      margin-left: 2rem;
    }
  }
}