.app.dark {
  --bg-color: #03034d;
  --inverted-bg-color: #e9e9ea;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #042693;
  --inverted-secondary-color: #0244ea;
}