.app.light {
  --bg-color: #e9e9ea;
  --inverted-bg-color: #03034d;

  --primary-color: #042693;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}