.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding-inline: 2rem;
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 1.5rem;
}